<%= render partial:"layouts/trip_nav", locals:{trip: @trip} %>

<div class="container">
    <h1>Activities</h1>
    <% if @is_user_admin %>
        <%= link_to "add activity", new_trip_activity_path(@trip), html_options={class:"btn btn-primary"} %>
    <% end %>

    <div>
        <% @activities.each do |activity| %>
            <div>
                <%= link_to activity.name, trip_activity_path(@trip, activity) %>
                <% if @is_user_admin %>
                    <%= link_to "", new_trip_schedule_path(@trip,activity_id: activity.id), html_options={class:"btn glyphicon glyphicon-plus"} %>
                <% end %>

            </div>
        <% end %>
    </div>
</div>
