<%= render partial:"layouts/trip_nav", locals:{trip: @trip} %>

<% @activities.each do |activity| %>

    <div>
        <%= link_to activity.name, trip_activity_path(@trip, activity) %>
        <%= link_to "add to schedule", new_trip_schedule_path(@trip,activity_id: activity.id) %>
    </div>
<% end %>