<%= render partial:"layouts/trip_nav", locals:{trip: @trip} %>

<div class="container">
    <h1>Trip participants</h1>
    <%= link_to "add new participant", new_trip_group_path(@trip), class:"btn btn-primary" %>
    <ul>
        <% @users.each do |user| %>
            <li><%= user.user.email %></li>
        <% end %>
    </ul>
</div>