
<div class="container">
    <h1>party people</h1>
    <div>
        Everything you need to organize your next group party:

        <ul>
            <li>Invite guests and email as a group</li>
            <li>Track activity ideas and plan</li>
            <li>Create and view poll results</li>
            <li>Split upfront payment costs (coming soon)</li>
        </ul>
    </div>

    <%= link_to "Organize a party", new_user_registration_path, class:"btn btn-primary" %>
    <%= link_to "Log in", new_user_session_path, class:"btn btn-primary" %>

</div>
